<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">

    <select id="getClazz" resultType="com.itheima.pojo.clazz.Clazz">
        select clazz.id, clazz.name, room, begin_date, end_date, master_id,clazz.subject as subject, clazz.create_time, clazz.update_time, emp.name as master_name,
        <![CDATA[
        (case when current_date < clazz.begin_date then '未开课'
        when current_date > clazz.end_date then '已结课'
        else '在读中' end) as status
        ]]>
        from clazz left join emp
        on clazz.master_id = emp.id
        <where>
            <if test="name !=null and name !=''">and clazz.name like concat('%',#{name},'%')</if>
            <if test="begin !=null">and clazz.begin_date >= #{begin}</if>
            <if test="end !=null"><![CDATA[
            and clazz.end_date <= #{end}
        ]]></if>
        </where>
    </select>
    <select id="getClazzContainData" resultType="java.util.Map">
        select c.name as clazzList ,count(0) as dataList from clazz as c left join  student as s
        on c.id = s.clazz_id
        group by c.name ;
    </select>

    <!--查询回显-->
    <select id="getClazzById" resultType="com.itheima.pojo.clazz.Clazz">
        select clazz.id,clazz.name
        as name,room,begin_date,end_date,master_id,emp.name as master_name, subjectMapping.subject_id as subject ,subjectMapping.subject_name,clazz.create_time,clazz.update_time
        from clazz
        left join emp on emp.id =clazz.master_id
        left join subjectMapping on clazz.subject=subjectMapping.subject_id
        where clazz.id = #{id};
    </select>

    <update id="updateClazz">
        update clazz
        <set>
            <if test="name!=null and name!=''">name = #{name},</if>
            <if test="room!=null and room!=''">room = #{room},</if>
            <if test="beginDate!=null">begin_date=#{beginDate},</if>
            <if test="endDate!=null">end_date=#{endDate},</if>
            <if test="masterId!=null">master_id=#{masterId},</if>
            subject=#{subject}
        </set>
        where id=#{id}
    </update>


</mapper>